nav div div ul li {
    padding-right: 20px;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #000;
    background-color: #ffc903;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.carousel-control-prev-icon {
    height: 30%;
    width: 30%;
}

.carousel-control-next-icon {
    height: 30%;
    width: 30%;
}

.before_after {
    text-align: center;
    margin-top: -1%;
}

.before_after::before {
    background-color: #0e0e0f;
    content: "";
    display: inline-block;
    min-width:  5%;
    min-height:  5px;
}

.before_after::after {
    background-color: #ffc802;
    content: "";
    display: inline-block;
 min-width:  5%;
    min-height:  5px;
}

.modal-open{
	overflow: hidden;
}
.modal-open:hover img{
	transition: 2s;
 transform: scale(1.3);
}
.modal-open h3{
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
	opacity: 0;
}
.modal-open:hover h3{
	opacity: 1;
	transition: 2s;
}
.contac_us{
	min-height: 408px;
}
.contac_us .form-group{
	margin-bottom: 28px;
}
.contac_us .form-group input{
	height: 51px;
}
footer{
	min-height: : 400px;
	background-color: #000;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
#myBtn:hover {
  background-color: #555;
}